# docker-compose version specification
version: '3.8'

# Define all the services (containers) your application needs
services:
  # The Node.js application service
  app:
    build:
      context: .
      dockerfile: ./Dockerfile.app
    ports:
      - "3000:3000" # Map host port 3000 to container port 3000
    env_file:
      - .env
      - .env.database
    environment:
      - PLAYWRIGHT_SKIP_BROWSER_GC=1
      - PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD=1
    working_dir: /home/node/app
    depends_on:
      - "db"
    volumes:
      - .:/home/node/app
      # Don't overwrite the node_modules folder in the container
      - /home/node/app/node_modules
      # Don't overwrite the .cache directory that contains the playwright dependencies
      - /home/node/.cache
      - playwright_cache:/home/node/.cache/ms-playwright
    command: npm start "https://www.linkedin.com/search/results/people"

  # The PostgreSQL database service
  db:
    build:
      context: .
      dockerfile: ./Dockerfile.db
    env_file:
      - .env.database
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    ports:
      - "5432:5432"  # Expose if troubleshooting locally
    volumes:
      # Persist database data in a named volume
      - postgres_data:/var/lib/postgresql/data
  
  db-migrate-up:
    build:
      context: .
      dockerfile: ./Dockerfile.db
    restart: "no"
    working_dir: /usr/src/scripts
    volumes:
      - /usr/src/scripts
    env_file:
      - .env.database
    command: just --timestamp migrate-up

  db-migrate-down:
    build:
      context: .
      dockerfile: ./Dockerfile.db
    restart: "no"
    working_dir: /usr/src/scripts
    volumes:
      - /usr/src/scripts
    env_file:
      - .env.database
    command: just --timestamp migrate-down

# Define the named volume for data persistence
volumes:
  postgres_data:
  playwright_cache: