# docker-compose version specification
version: '3.8'

# Define all the services (containers) your application needs
services:
  # The Node.js application service
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "3000:3000" # Map host port 3000 to container port 3000
    env_file:
      - .env
      - .env.database
    depends_on:
      - db # Wait for the 'db' service to be healthy before starting 'app'
    working_dir: /home/node/app
    volumes:
      # Mount the current directory into the container for live code updates
      - .:/home/node/app
      # Don't overwrite the node_modules folder in the container
      - /home/node/app/node_modules
      # Don't overwrite the .cache directory that contains the playwright dependencies
      - /home/node/.cache
    command: npm start "https://www.linkedin.com/"

  # The PostgreSQL database service
  db:
    image: postgres:16-alpine # Use the official Postgres 16 Alpine image
    env_file:
      - .env.postgres-init
    volumes:
      # Persist database data in a named volume
      - postgres_data:/var/lib/postgresql/data

# Define the named volume for data persistence
volumes:
  postgres_data:
